@font-face {
    font-family: 'monoid';
    src: url('./fonts/Monoid-Regular.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
html {
    height: 100%;
}

body{
    height: 100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
#midground{
    background: url(./backgrounds/images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
    z-index: 997;
}
#foreground {
	background: url(./backgrounds/images/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 998;
}

hr{
    width: 50px;
    border-color: transparent;
    border-right-color: rgba(255, 255, 255, 0.7);
    border-right-width: 50px;
    z-index: 9999;
    position: absolute;
    overflow: hidden;
    bottom: 100%;
    transform-origin: 100% 50%;
    animation-name: rain;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes rain {
    from {
     transform: rotate(105deg) translateX(0);
    }
   
    to {
     transform: rotate(105deg) translateX(calc(100vh + 20px));
    }
   }

   .mainUIBox{
    text-align: center;
    margin-top: 45vh;
    position: relative;
    z-index: 2999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .mainUIBox>input{
    width: 80vw;
    height: 20vh;
    background-color: rgba(0,0,0,0.3);
    font-size: 4em;
    border: none;
    border-bottom:5px solid black;
    text-align: center;
    color: aliceblue;
   }
   .details-box{
    background-color: rgba(0,0,0,0.6);
    height: 80vh;
    width: 80vh;
    margin: 0 auto;
    z-index: 9999;
    color: white;
    font-family: 'monoid',monospace;
    margin-top: 10vh;
    position: relative;
    border-radius: 3em;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    display: flex;
    box-shadow: inset 0 0 10px #000000;
   }


   .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: 1vh;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}