html {
    height: 100%;
}

body{
    height: 100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: url('./backgrounds/images/moon.png'),auto;
}
#midground{
    background: url(./backgrounds/images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
    z-index: 997;
}
#foreground {
	background: url(./backgrounds/images/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 998;
}